@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100% !important;
  }

  .p-md-5 {
    padding: 0.5rem !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }

}

.oculto {
  display: none;
}

.mostrar {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: block;
  opacity: 1;
  transition: opacity 1s ease;
}

.container {
  margin-top: 0px;
}